html{
  font-size: 1.2rem;
}

.orange-text{
  display: block;
  color: #f56551;
}



/* Hero */
.hero-container{
  text-align: center;
  font-size: 1.5rem;
}

.hero-container>*{
  margin-bottom: 5rem;
}


  .hero-container .header{
    font-size: 60px;
    width: 70vw;
    margin: 5rem auto;
  }



/* Create trip  */
.create-trip{}

  .create-trip__intro{
    margin-top: 5rem;
  }
    
  .create-trip__intro>*{
    margin-top:1rem;
  }

  .create-trip__forms{
    margin-top: 5rem;
  }

    .create-trip__forms .title{
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }